body {
  /* background-color: #bae6fd; */
  background-color: #e7e5e4;
}

.classrooms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.fields {
  display: flex;
  align-items: center;
}

.f1 {
  margin-right: 80px;
}

.f1:last-child {
  margin-right: 0;
}

.TableContainer {
  margin-top: 20px;
  width: 100%;
}

.Table {
  min-width: 1100px;
}

.TableHead {
  background-color: #9f9894;
}

.TableHeadCell {
  font-weight: bold;
  color: white !important;
}

.TableRow {
  &:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

.below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  position: fixed;
  bottom: 0;
}

.total-seats-section {
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.action-buttons > button {
  margin-left: 10px;
}
